<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sectionsInfo</key>
	<array>
		<dict>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>cellClass</key>
					<string>RH_WithdrawCashOneCell</string>
					<key>title</key>
					<string></string>
				</dict>
			</array>
			<key>sectionHeaderHeight</key>
			<string>0</string>
		</dict>
		<dict>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>cellClass</key>
					<string>RH_WithdrawCashTwoCell</string>
					<key>title</key>
					<string>取款金额</string>
				</dict>
			</array>
			<key>sectionHeaderHeight</key>
			<string>10</string>
		</dict>
		<dict>
			<key>sectionHeaderHeight</key>
			<string>10</string>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string>免手续费</string>
					<key>cellClass</key>
					<string>RH_WithdrawCashThreeCell</string>
					<key>title</key>
					<string>手续费</string>
				</dict>
				<dict>
					<key>cellClass</key>
					<string>RH_WithdrawCashThreeCell</string>
					<key>detailTitle</key>
					<string>¥-100</string>
					<key>title</key>
					<string>行政费</string>
				</dict>
				<dict>
					<key>cellClass</key>
					<string>RH_WithdrawCashThreeCell</string>
					<key>detailTitle</key>
					<string>¥-2</string>
					<key>title</key>
					<string>扣除优惠</string>
				</dict>
				<dict>
					<key>detailTitle</key>
					<string>¥--</string>
					<key>cellClass</key>
					<string>RH_WithdrawCashThreeCell</string>
					<key>title</key>
					<string>最终可取</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>cellsExtraInfo</key>
	<dict>
		<key>isCustomHeight</key>
		<true/>
	</dict>
</dict>
</plist>
