<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lottery</key>
	<array>
		<dict>
			<key>title</key>
			<string>TABBAR_FIRSTPAGE_TITLE</string>
			<key>image</key>
			<string>tab_home</string>
			<key>selectedImage</key>
			<string>tab_pink_home</string>
			<key>viewControllerClass</key>
			<string>RH_FirstPageViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_DEPOSITPAGE_TITLE1</string>
			<key>image</key>
			<string>tab_deposit</string>
			<key>selectedImage</key>
			<string>tab_pink_deposit</string>
			<key>viewControllerClass</key>
			<string>RH_DepositeViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_LOTTERYHALLPAGE_TITLE</string>
			<key>image</key>
			<string>tab_service</string>
			<key>selectedImage</key>
			<string>tab_pink_service</string>
			<key>viewControllerClass</key>
			<string>RH_lotteryHallViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_LOTTERYRECORD_TITLE</string>
			<key>image</key>
			<string>tab_transfer</string>
			<key>selectedImage</key>
			<string>tab_pink_transfer</string>
			<key>viewControllerClass</key>
			<string>RH_LotteryRecPageViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_MINEPAGE_TITLE</string>
			<key>image</key>
			<string>tab_mine</string>
			<key>selectedImage</key>
			<string>tab_pink_mine</string>
			<key>viewControllerClass</key>
			<string>RH_MinePageViewController</string>
		</dict>
	</array>
	<key>integrated</key>
	<array>
		<dict>
			<key>title</key>
			<string>TABBAR_FIRSTPAGE_TITLE</string>
			<key>image</key>
			<string>tab_home</string>
			<key>selectedImage</key>
			<string>tab_pink_home</string>
			<key>viewControllerClass</key>
			<string>RH_FirstPageViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_DEPOSITPAGE_TITLE2</string>
			<key>image</key>
			<string>tab_deposit</string>
			<key>selectedImage</key>
			<string>tab_pink_deposit</string>
			<key>viewControllerClass</key>
			<string>RH_DepositeViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_TRANSFERPAGE_TITLE</string>
			<key>image</key>
			<string>tab_service</string>
			<key>selectedImage</key>
			<string>tab_pink_service</string>
			<key>viewControllerClass</key>
			<string>RH_TransferViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_CUSTOMERSERVICEPAGE_TITLE</string>
			<key>image</key>
			<string>tab_transfer</string>
			<key>selectedImage</key>
			<string>tab_pink_transfer</string>
			<key>viewControllerClass</key>
			<string>RH_CustomServicePageViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_MINEPAGE_TITLE</string>
			<key>image</key>
			<string>tab_mine</string>
			<key>selectedImage</key>
			<string>tab_pink_mine</string>
			<key>viewControllerClass</key>
			<string>RH_MinePageViewController</string>
		</dict>
	</array>
	<key>integratedv3</key>
	<array>
		<dict>
			<key>title</key>
			<string>TABBAR_DEPOSITPAGE_TITLE2</string>
			<key>image</key>
			<string>tab_v3_deposit</string>
			<key>selectedImage</key>
			<string>tab_v3_deposit_selected</string>
			<key>viewControllerClass</key>
			<string>RH_DepositeViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_PROMO_TITLE</string>
			<key>image</key>
			<string>tab_v3_promo</string>
			<key>selectedImage</key>
			<string>tab_v3_promo_selected</string>
			<key>viewControllerClass</key>
			<string>RH_PromoViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_FIRSTPAGE_TITLE</string>
			<key>image</key>
			<string>tab_v3_home</string>
			<key>selectedImage</key>
			<string>tab_v3_home_selected</string>
			<key>showHome</key>
			<true/>
			<key>viewControllerClass</key>
			<string>RH_FirstPageViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_CUSTOMERSERVICEPAGE_TITLE</string>
			<key>image</key>
			<string>tab_v3_service</string>
			<key>selectedImage</key>
			<string>tab_v3_service_selected</string>
			<key>viewControllerClass</key>
			<string>RH_CustomServicePageViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_MINEPAGE_TITLE</string>
			<key>image</key>
			<string>tab_v3_my</string>
			<key>selectedImage</key>
			<string>tab_v3_my_selected</string>
			<key>viewControllerClass</key>
			<string>RH_MinePageViewController</string>
		</dict>
	</array>
	<key>integratedv3oc</key>
	<array>
		<dict>
			<key>title</key>
			<string>TABBAR_DEPOSITPAGE_TITLE2</string>
			<key>image</key>
			<string>tab_v3_deposit</string>
			<key>selectedImage</key>
			<string>tab_v3_deposit_selected</string>
			<key>viewControllerClass</key>
			<string>RH_DepositeViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_PROMO_TITLE</string>
			<key>image</key>
			<string>tab_v3_promo</string>
			<key>selectedImage</key>
			<string>tab_v3_promo_selected</string>
			<key>viewControllerClass</key>
			<string>RH_PromoViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_FIRSTPAGE_TITLE</string>
			<key>image</key>
			<string>tab_v3_home</string>
			<key>selectedImage</key>
			<string>tab_v3_home_selected</string>
			<key>showHome</key>
			<true/>
			<key>viewControllerClass</key>
			<string>RH_FirstPageViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_CUSTOMERSERVICEPAGE_TITLE</string>
			<key>image</key>
			<string>tab_v3_service</string>
			<key>selectedImage</key>
			<string>tab_v3_service_selected</string>
			<key>viewControllerClass</key>
			<string>RH_CustomServicePageViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TABBAR_MINEPAGE_TITLE</string>
			<key>image</key>
			<string>tab_v3_my</string>
			<key>selectedImage</key>
			<string>tab_v3_my_selected</string>
			<key>viewControllerClass</key>
			<string>RH_MinePageViewController</string>
		</dict>
	</array>
</dict>
</plist>
