<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellsExtraInfo</key>
	<dict>
		<key>isCustomHeight</key>
		<true/>
	</dict>
	<key>sectionsInfo</key>
	<array>
		<dict>
			<key>sectionHeaderHeight</key>
			<string>9</string>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>cellType</key>
					<string>normal</string>
					<key>content</key>
					<string>请输入账号</string>
					<key>title</key>
					<string>请输入账号☆</string>
					<key>targetKey</key>
					<string></string>
					<key>cellClass</key>
					<string>RH_RegistrationViewCell</string>
				</dict>
				<dict>
					<key>cellType</key>
					<string>password</string>
					<key>content</key>
					<string>请输入6-20个字母、数字或字符</string>
					<key>title</key>
					<string>请输入密码☆</string>
					<key>targetKey</key>
					<string>RH_ModifySafetyPasswordController</string>
					<key>cellClass</key>
					<string>RH_RegistrationViewCell</string>
				</dict>
				<dict>
					<key>cellType</key>
					<string>password</string>
					<key>content</key>
					<string>再次输入您的登录密码</string>
					<key>title</key>
					<string>请再次确认密码☆</string>
					<key>cellClass</key>
					<string>RH_RegistrationViewCell</string>
				</dict>
				<dict>
					<key>cellType</key>
					<string>normal</string>
					<key>content</key>
					<string>请输入手机号</string>
					<key>title</key>
					<string>请输入手机号</string>
					<key>targetKey</key>
					<string>RH_BitCoinController</string>
					<key>cellClass</key>
					<string>RH_RegistrationViewCell</string>
				</dict>
				<dict>
					<key>cellType</key>
					<string>verifycode</string>
					<key>content</key>
					<string>请输入验证码</string>
					<key>title</key>
					<string>请输入验证码☆</string>
					<key>targetKey</key>
					<string>RH_BitCoinController</string>
					<key>cellClass</key>
					<string>RH_RegistrationViewCell</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
