<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sectionsInfo</key>
	<array>
		<dict>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>title</key>
					<string>首页</string>
					<key>image</key>
					<string>mm_home_icon</string>
				</dict>
				<dict>
					<key>title</key>
					<string>优惠活动</string>
					<key>image</key>
					<string>mm_promo_icon</string>
				</dict>
				<dict>
					<key>title</key>
					<string>账户存款</string>
					<key>image</key>
					<string>mm_withdraw_icon</string>
				</dict>
				<dict>
					<key>title</key>
					<string>关于我们</string>
					<key>image</key>
					<string>mm_aboutme_icon</string>
				</dict>
				<dict>
					<key>title</key>
					<string>常见问题</string>
					<key>image</key>
					<string>mm_qa_icon</string>
				</dict>
				<dict>
					<key>title</key>
					<string>在线客服</string>
					<key>image</key>
					<string>mm_customer_icon</string>
				</dict>
				<dict>
					<key>title</key>
					<string>注册条款</string>
					<key>image</key>
					<string>mm_signintro_icon</string>
				</dict>
				<dict>
					<key>title</key>
					<string>语言</string>
					<key>image</key>
					<string>mm_language_icon</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>cellsExtraInfo</key>
	<dict>
		<key>isCustomHeight</key>
		<true/>
		<key>cellClass</key>
		<string>RH_MainMenuCell</string>
	</dict>
</dict>
</plist>
