<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sectionsInfo</key>
	<array>
		<dict>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string>验证真实姓名</string>
					<key>cellClass</key>
					<string>RH_ModifyPasswordNameCell</string>
					<key>title</key>
					<string>真实姓名</string>
				</dict>
				<dict>
					<key>cellClass</key>
					<string>RH_ModifyPasswordCell</string>
					<key>detailTitle</key>
					<string>请输入新密码</string>
					<key>title</key>
					<string>新密码</string>
				</dict>
				<dict>
					<key>detailTitle</key>
					<string>再次输入新密码</string>
					<key>cellClass</key>
					<string>RH_ModifyPasswordCell</string>
					<key>title</key>
					<string>确认密码</string>
				</dict>
				<dict>
					<key>cellClass</key>
					<string>RH_ModifyPasswordCodeCell</string>
				</dict>
			</array>
			<key>sectionHeaderHeight</key>
			<string>10</string>
		</dict>
	</array>
	<key>cellsExtraInfo</key>
	<dict>
		<key>isCustomHeight</key>
		<true/>
	</dict>
</dict>
</plist>
