<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sectionsInfo</key>
	<array>
		<dict>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>cellClass</key>
					<string>RH_MinePageBannarCell</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionHeaderHeight</key>
			<string>5</string>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>cellClass</key>
					<string>RH_MineAccountCell</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionHeaderHeight</key>
			<string>5</string>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>cellClass</key>
					<string>RH_MineRecordTableViewCell</string>
					<key>rowsInfo</key>
					<array>
						<dict>
							<key>title</key>
							<string>游戏记录</string>
							<key>image</key>
							<string>me_orderrecord_icon</string>
							<key>detailTitle</key>
							<string>查看所参与的游戏记录</string>
							<key>targetKey</key>
							<string>RH_GamesRecordViewController</string>
							<key>targetContext</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>title</key>
							<string>安全中心</string>
							<key>targetKey</key>
							<string>RH_MineSecurityCenterController</string>
							<key>image</key>
							<string>me_safety_icon</string>
						</dict>
						<dict>
							<key>title</key>
							<string>账变明细</string>
							<key>image</key>
							<string>me_accountdetail_icon</string>
							<key>targetKey</key>
							<string>RH_GamesRecordViewController</string>
							<key>targetContext</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>title</key>
							<string>充值记录</string>
							<key>image</key>
							<string>me_rechargerecord_icon</string>
							<key>targetKey</key>
							<string>RH_GamesRecordViewController</string>
							<key>targetContext</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>title</key>
							<string>分享朋友</string>
							<key>image</key>
							<string>me_share_icon</string>
						</dict>
						<dict>
							<key>title</key>
							<string>钱包管理</string>
							<key>image</key>
							<string>me_wallet_icon</string>
							<key>targetKey</key>
							<string>RH_MineDailyCashController</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionHeaderHeight</key>
			<string>5</string>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>cellClass</key>
					<string>RH_MineRecordTableViewCell</string>
					<key>rowsInfo</key>
					<array>
						<dict>
							<key>title</key>
							<string>消息中心</string>
							<key>detailTitle</key>
							<string>查看历史消息内容</string>
							<key>image</key>
							<string>me_message_icon</string>
							<key>targetKey</key>
							<string>RH_MineMessageCenterController</string>
						</dict>
						<dict>
							<key>title</key>
							<string>意见与反馈</string>
							<key>image</key>
							<string>me_feedback_icon</string>
							<key>targetKey</key>
							<string>RH_MineIdeaAndFeedBackController</string>
						</dict>
						<dict>
							<key>title</key>
							<string>分享礼金</string>
						</dict>
						<dict>
							<key>title</key>
							<string>联系客服</string>
							<key>image</key>
							<string>me_customservice_icon</string>
						</dict>
						<dict>
							<key>title</key>
							<string>关于彩票盒子</string>
							<key>targetKey</key>
							<string>RH_AboutLotteryBoxController</string>
						</dict>
						<dict>
							<key>title</key>
							<string>测试摇骰子</string>
							<key>targetKey</key>
							<string>RH_TestThrowDiceController</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>cellsExtraInfo</key>
	<dict>
		<key>isCustomHeight</key>
		<true/>
	</dict>
</dict>
</plist>
