<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sectionsInfo</key>
	<array>
		<dict>
			<key>sectionHeaderHeight</key>
			<string>1</string>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>cellClass</key>
					<string>RH_MinePageBannarCell</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionHeaderHeight</key>
			<string>10</string>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>rowsInfo</key>
					<array>
						<dict>
							<key>image</key>
							<string>mine_page_withdrawcash</string>
							<key>title</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string></string>
							<key>image</key>
							<string>mine_page_toppedup</string>
						</dict>
					</array>
					<key>cellClass</key>
					<string>RH_MineAccountCell</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionHeaderHeight</key>
			<string>10</string>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>cellClass</key>
					<string>RH_MineRecordTableViewCell</string>
					<key>rowsInfo</key>
					<array>
						<dict>
							<key>title</key>
							<string>投注记录</string>
							<key>image</key>
							<string>mine_page_lotterymoney</string>
							<key>detailTitle</key>
							<string>查看所参与的游戏记录</string>
							<key>targetKey</key>
							<string>RH_BettingRecordViewController</string>
							<key>targetContext</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>detailTitle</key>
							<string>进行资金回收和转入</string>
							<key>title</key>
							<string>额度转换</string>
							<key>code</key>
							<string>transfer</string>
							<key>image</key>
							<string>mine_page_quotaswitch</string>
						</dict>
						<dict>
							<key>detailTitle</key>
							<string>查看所有资金往来记录</string>
							<key>title</key>
							<string>资金记录</string>
							<key>image</key>
							<string>mine_page_fundsrecords</string>
							<key>targetContext</key>
							<integer>1</integer>
							<key>targetKey</key>
							<string>RH_CapitalRecordViewController</string>
						</dict>
						<dict>
							<key>targetKey</key>
							<string>RH_MineSafetyCenterViewController</string>
							<key>detailTitle</key>
							<string>保护您的账户安全</string>
							<key>title</key>
							<string>安全中心</string>
							<key>image</key>
							<string>mine_page_securitycenter</string>
							<key>targetContext</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>detailTitle</key>
							<string>查看所参与的优惠记录</string>
							<key>title</key>
							<string>优惠记录</string>
							<key>image</key>
							<string>mine_page_preferentialrecords</string>
							<key>code</key>
							<string>myPromo</string>
							<key>targetKey</key>
							<string>RH_PromoListController</string>
						</dict>
						<dict>
							<key>detailTitle</key>
							<string>查看历史消息内容</string>
							<key>title</key>
							<string>消息中心</string>
							<key>image</key>
							<string>mine_page_messagecenter</string>
							<key>targetKey</key>
							<string>RH_ApplyDiscountViewController</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectionHeaderHeight</key>
			<string>10</string>
			<key>rowsInfo</key>
			<array>
				<dict>
					<key>cellClass</key>
					<string>RH_MineRecordTableViewCell</string>
					<key>rowsInfo</key>
					<array>
						<dict>
							<key>detailTitle</key>
							<string>发送优惠申请优惠</string>
							<key>title</key>
							<string>申请优惠</string>
							<key>image</key>
							<string>mine_page_applypreferential</string>
							<key>code</key>
							<string>gameNotice</string>
							<key>targetKey</key>
							<string>RH_ApplyDiscountViewController</string>
						</dict>
						<dict>
							<key>detailTitle</key>
							<string>建议反馈</string>
							<key>targetKey</key>
							<string>RH_MineMoreInfoViewController</string>
							<key>image</key>
							<string>mine_page_look_more</string>
							<key>freeLogin</key>
							<true/>
							<key>title</key>
							<string>查看更多</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>cellsExtraInfo</key>
	<dict>
		<key>isCustomHeight</key>
		<true/>
	</dict>
</dict>
</plist>
